body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #b53131;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav li {
    margin: 0 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 2em;
  }
  
  section {
    margin-bottom: 2em;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    max-width: 400px;
  }
  
  footer {
    text-align: center;
    background: #b53131;
    color: white;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  